<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../libs/tinyacc/basic.css">
  <link rel="stylesheet" href="config.css">
  <title>title</title>
</head>
<body>

<div id="app">
	<div id="app-select">
		<div class="float-right">
			<button i18n v-show="page.name != 'welcome'" onclick="app.page.name = 'welcome'">Manage</button>
			<button i18n v-show="page.name != 'preference'" onclick="app.page.name = 'preference'">Preference</button>
		</div>
		<h2 i18n>Enabled Modules</h2>
		<ul id="enabled-mods" class="mod-list">
			<li v-for="id in conf.mods" 
				v-bind:data-id="id" 
				v-bind:class="loaded_mods[id] ? '' : 'mod-unavailable'"
				v-on:mouseenter="showMod(id)"
				v-on:click="showMod(id, true)"
			>
				<span v-if="loaded_mods[id]" class="mod-name">{{ loaded_mods[id].profile.name }}</span>
				<span v-else class="mod-name">…{{ id.substr(id.indexOf(':')) }}</span>
				<span class="mod-links">
					<a i18n v-if="loaded_mods[id] && loaded_mods[id].profile.options" v-bind:href="loaded_mods[id].profile.options">Options</a>
					<a i18n v-on:click="disable(id)">Disable</a>
				</span>
			</li>
		</ul>
		<small i18n>TIP_MOVE</small>
	</div>
	
	<div id="app-detail">
		<base target="_blank">
		<div id="loading" v-bind:class="saving ? '': 'hidden'">
			<div class="loader"></div>
			<span i18n>Working</span>
		</div>
		<div id="page-welcome" v-show="page.name == 'welcome'">
			<h1>
				<img src="/image/package-64.png" alt="" width="64" height="64">
				<span i18n>Manage Modules</span>
			</h1>
			<section>
				<div i18n="marked">CC_HELLO1</div>
				<ul class="mod-list mod-list-wall" id="disabled-mods">
					<li v-for="id in disabled_mods" v-bind:data-id="id">
						<div class="mod-name">{{ loaded_mods[id].profile.name }}</div>
						<div class="mod-meta">
							<div><b i18n>Author</b> {{ loaded_mods[id].profile.author }}</div>
							<div>{{ loaded_mods[id].profile.description }}</div>
						</div>
						<div class="mod-links">
							<a v-show="loaded_mods[id].profile.url" i18n v-bind:href="loaded_mods[id].profile.url">Website</a>
							<a v-show="loaded_mods[id].profile.options" i18n v-bind:href="loaded_mods[id].profile.options">Options</a>
							<a i18n v-on:click="enableMod(id)">Enable</a>
						</div>
					</li>
				</ul>
			</section>
		</div>
		
		<div id="page-preference" v-show="page.name == 'preference'">
			<h1>
				<img src="/image/preference-64.png" alt="" width="64" height="64">
				<span i18n>Preference</span>
			</h1>
			<section>
				<h2 i18n>Manage Modules</h2>
				<p> 
					<span i18n>CC_MM_INTRODUCE</span>
					<a href="" i18n onclick="app.page.name = 'welcome'">Click to Open</a>
				</p>
			</section>
			<section>
				<h2 i18n>CC_BOXSIZE</h2>
				<div class="pref-boxsize">
					<p class="pref-boxsize-page"><span class="pref-boxsize-page-selected">Lorem ipsum</span> dolor sit amet, consectetur adipisicing elit. Esse porro nulla quo perspiciatis quasi aspernatur qui impedit facere eveniet, placeat alias, optio enim eaque culpa, voluptate ducimus praesentium ut neque!</p>
					<div id="pref-boxsize-box">
						<div class="pref-boxsize-box-content" i18n="marked">CC_BOXSIZE_NOTICE</div>
					</div>
				</div>
			</section>
		</div>
		
		<page-show     v-if="page.name == 'show'"      v-bind:mod="page.mod"></page-show>
		<page-mod404   v-if="page.name == 'mod404'"    v-bind:mod="page.mod"></page-mod404>
	</div>
</div>

<template id="page-show">
	<h1>
		<img v-bind:src="mod.profile.image || '/image/apps-64.png'" alt="" width="64" height="64">
		{{ mod.profile.name }}
	</h1>
	<table class="mod-meta">
		<tr>
			<th i18n>ID</th>
			<td>{{ mod.id }}</td>
		</tr>
		<tr>
			<th i18n>Author</th>
			<td>{{ mod.profile.author }}</td>
		</tr>
		<tr v-show="mod.profile.url">
			<th i18n>Website</th>
			<td><a v-bind:href="mod.profile.url">{{ mod.profile.url }}</a></td>
		</tr>
	</table>
	<div class="mod-description">
		<div v-if="mod.profile.fullDescription" v-html="mod.profile.fullDescription | marked"></div>
		<p v-else>{{ mod.profile.description }}</p>
	</div>
</template>

<template id="page-mod404">
	<h1>
		<img src="/image/error-64.png" alt="" width="64" height="64">
		<span i18n>Not Found</span>
	</h1>
	<div i18n="marked">MOD_NOT_FOUND_EXPLAIN</div>
</template>

<template id="page-add">
	<h1>
		<img src="/image/error-64.png" alt="" width="64" height="64">
		<span i18n>Add</span>
	</h1>
	<div i18n="marked">MOD_NOT_FOUND_EXPLAIN</div>
</template>

<script src="../libs/vue/vue.js"></script>
<script src="../libs/marked/marked.min.js"></script>
<script src="../libs/jquery-ui/jquery.min.js"></script>
<script src="../libs/jquery-ui/jquery-ui.min.js"></script>
<script src="../libs/tinyacc/translate.js"></script>
<script>
uniTranslateAll().then(() => {
	window.document.addEventListener('click', function (ev) {
		var e = ev.target
		if (!e.getAttribute("href")) ev.preventDefault()
		if (e.nodeName !== "A" || !e.getAttribute("href")) return
		window.postMessage({ type: "open?", url: e.href }, "*")
	}, true)
	var script = document.createElement('script')
	script.src = "config.js"
	document.body.appendChild(script)
})
</script>

</body>
</html>